.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    font-family: "Arial", sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: red;
    animation: logoAnimation 1.5s infinite;
  }
  
  .logo span {
    display: inline-block;
    transform-origin: bottom;
    animation: spanAnimation 1.5s infinite;
  }
  
  @keyframes logoAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes spanAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  